.navbar-nav .nav-link {
  position: relative;
}
.navbar-nav .nav-link::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.navbar-nav .nav-link:hover::after {
  width: 100%;
}
